In [1]:
#importing necessary packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading in the ames housing data
housing = pd.read_csv("Ames_HousePrice.csv", index_col=0)

In [3]:
print("Ames Data Shape:", housing.shape)

Ames Data Shape: (2580, 81)

In [4]:
housing.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
3,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
4,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
5,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal

In [5]:
housing.columns

Index(['PID', 'GrLivArea', 'SalePrice', 'MSSubClass', 'MSZoning',
       'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
       'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [6]:
#checking columns and data types:
print("Ames Summary: ", housing.info())

print("Total Unique Values: ", housing.nunique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 1 to 763
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PID            2580 non-null   int64
 1   GrLivArea      2580 non-null   int64
 2   SalePrice      2580 non-null   int64
 3   MSSubClass     2580 non-null   int64
 4   MSZoning       2580 non-null   object
 5   LotFrontage    2118 non-null   float64
 6   LotArea        2580 non-null   int64
 7   Street         2580 non-null   object
 8   Alley          168 non-null    object
 9   LotShape       2580 non-null   object
 10  LandContour    2580 non-null   object
 11  Utilities      2580 non-null   object
 12  LotConfig      2580 non-null   object
 13  LandSlope      2580 non-null   object
 14  Neighborhood   2580 non-null   object
 15  Condition1     2580 non-null   object
 16  Condition2     2580 non-null   object
 17  BldgType       2580 non-null   object
 18  HouseStyle     2580 non-null   object
 19  OverallQual    2580 non-null   int64
 20  OverallCond    2580 non-null   int64
 21  YearBuilt      2580 non-null   int64
 22  YearRemodAdd   2580 non-null   int64
 23  RoofStyle      2580 non-null   object
 24  RoofMatl       2580 non-null   object
 25  Exterior1st    2580 non-null   object
 26  Exterior2nd    2580 non-null   object
 27  MasVnrType     2566 non-null   object
 28  MasVnrArea     2566 non-null   float64
 29  ExterQual      2580 non-null   object
 30  ExterCond      2580 non-null   object
 31  Foundation     2580 non-null   object
 32  BsmtQual       2511 non-null   object
 33  BsmtCond       2511 non-null   object
 34  BsmtExposure   2509 non-null   object
 35  BsmtFinType1   2511 non-null   object
 36  BsmtFinSF1     2579 non-null   float64
 37  BsmtFinType2   2510 non-null   object
 38  BsmtFinSF2     2579 non-null   float64
 39  BsmtUnfSF      2579 non-null   float64
 40  TotalBsmtSF    2579 non-null   float64
 41  Heating        2580 non-null   object
 42  HeatingQC      2580 non-null   object
 43  CentralAir     2580 non-null   object
 44  Electrical     2579 non-null   object
 45  1stFlrSF       2580 non-null   int64
 46  2ndFlrSF       2580 non-null   int64
 47  LowQualFinSF   2580 non-null   int64
 48  BsmtFullBath   2578 non-null   float64
 49  BsmtHalfBath   2578 non-null   float64
 50  FullBath       2580 non-null   int64
 51  HalfBath       2580 non-null   int64
 52  BedroomAbvGr   2580 non-null   int64
 53  KitchenAbvGr   2580 non-null   int64
 54  KitchenQual    2580 non-null   object
 55  TotRmsAbvGrd   2580 non-null   int64
 56  Functional     2580 non-null   object
 57  Fireplaces     2580 non-null   int64
 58  FireplaceQu    1339 non-null   object
 59  GarageType     2453 non-null   object
 60  GarageYrBlt    2451 non-null   float64
 61  GarageFinish   2451 non-null   object
 62  GarageCars     2579 non-null   float64
 63  GarageArea     2579 non-null   float64
 64  GarageQual     2451 non-null   object
 65  GarageCond     2451 non-null   object
 66  PavedDrive     2580 non-null   object
 67  WoodDeckSF     2580 non-null   int64
 68  OpenPorchSF    2580 non-null   int64
 69  EnclosedPorch  2580 non-null   int64
 70  3SsnPorch      2580 non-null   int64
 71  ScreenPorch    2580 non-null   int64
 72  PoolArea       2580 non-null   int64
 73  PoolQC         9 non-null      object
 74  Fence          525 non-null    object
 75  MiscFeature    97 non-null     object
 76  MiscVal        2580 non-null   int64
 77  MoSold         2580 non-null   int64
 78  YrSold         2580 non-null   int64
 79  SaleType       2580 non-null   object
 80  SaleCondition  2580 non-null   object
dtypes: float64(11), int64(27), object(43)
memory usage: 1.6+ MB
Ames Summary:  None
Total Unique Values:  PID              2579
GrLivArea        1213
SalePrice         870
MSSubClass         16
MSZoning            7
                 ...
MiscVal            34
MoSold             12
YrSold              5
SaleType           10
SaleCondition       6
Length: 81, dtype: int64

In [7]:
#are there any duplicates?
dup_rows = housing[housing.duplicated()]
print("number of duplicate rows: ", dup_rows.shape)
#which row is a duplicate?
housing[housing.PID.duplicated()]

number of duplicate rows:  (1, 81)

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909276070,1717,194000,50,RL,80.0,12400,Pave,NaN,Reg,...,113,0,NaN,NaN,NaN,0,2,2006,WD,Normal

In [8]:
#drop duplicates
housing.drop_duplicates(inplace=True)

According to Jean De Cock, there are 5 outliers that are over 4000 SF. source: http://jse.amstat.org/v19n3/decock.pdf Lets take a look:

In [9]:
#check for outliers
housing["GrLivArea"].sort_values(ascending=False).head()
# there only appears to be 2 listings over 4000SF. Were the others already removed?

310    4676
8      4316
492    3820
389    3672
326    3627
Name: GrLivArea, dtype: int64

In [10]:
# Remove large properties
housing = housing[housing.GrLivArea < 4000]

In [11]:
#also removing abnormal sale conditions
housing = housing[housing.SaleCondition != 'Abnorml']

In [12]:
#remove MSZoning classes that are not residential
housing = housing[housing.MSZoning != "A"]
housing = housing[housing.MSZoning != "C"]
housing = housing[housing.MSZoning != "I"]

In [13]:
#missing data
total_missing = housing.isnull().sum().sort_values(ascending=False)
percent = (housing.isnull().sum()/housing.isnull().count()).sort_values(ascending=False) * 100
missing_data = pd.concat([total_missing, percent], axis=1, keys=["Total", "Percent"])
missing_data.head(20)

              Total    Percent
PoolQC         2507  99.642289
MiscFeature    2419  96.144674
Alley          2355  93.600954
Fence          2009  79.848967
FireplaceQu    1201  47.734499
LotFrontage     455  18.084261
GarageQual      121   4.809221
GarageCond      121   4.809221
GarageFinish    121   4.809221
GarageYrBlt     121   4.809221
GarageType      119   4.729730
BsmtExposure     70   2.782194
BsmtFinType2     69   2.742448
BsmtFinType1     68   2.702703
BsmtCond         68   2.702703
BsmtQual         68   2.702703
MasVnrArea       14   0.556439
MasVnrType       14   0.556439
GarageCars        1   0.039746
BsmtHalfBath      1   0.039746

In [14]:
# fill missing values
housing.fillna(value={"Alley": "No Alley",
                      "MasVnrType": "None",
                      "MiscFeature": "No Misc",
                      "ExterQual": "NA",
                      "ExterCond": "NA",
                      "BsmtQual": "NA",
                      "BsmtCond": "NA",
                      "BsmtExposure": "NA",
                      "BsmtFinType1": "NA",
                      "BsmtFinType2": "NA",
                      "HeatingQC": "NA",
                      "KitchenQual": "NA",
                      "Functional": "NA",
                      "FireplaceQu": "NA",
                      "GarageFinish": "NA",
                      "GarageQual": "NA",
                      "GarageCond": "NA",
                      "GarageType": "No Garage",
                      "PoolQC": "NA",
                      "Fence": "NA"},
                      inplace=True)

In [15]:
#change categorical ordinal variables to rankings

In [16]:
#change categorical variables to ordinal for ranking
#Quality and Condition features

exterqual_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
}

extercon_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
}

bsmt_qual_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
    "NA": 0,
}

bsmt_con_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
    "NA": 0,
}

bsmt_exp_dict = { 
    "Gd": 4,
    "Av": 3,    
    "Mn": 2,
    "No": 1,
    "NA": 0,
}

bsmtfin1_dict = {
    "GLQ": 6, 
    "ALQ": 5, 
    "BLQ": 4,    
    "Rec": 3,
    "LwQ": 2,
    "Unf": 1,
    "NA": 0,
}

bsmtfin2_dict = {
    "GLQ": 6, 
    "ALQ": 5, 
    "BLQ": 4,    
    "Rec": 3,
    "LwQ": 2,
    "Unf": 1,
    "NA": 0,
}

heat_qc_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
}

kitch_qual_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
}

funct_dict = {
    "Typ": 8,
    "Min1": 7,
    "Min2": 6,
    "Mod": 5,
    "Maj1": 4,
    "Maj2": 3,
    "Sev": 2,
    "Sal": 1,
}
    
fire_qual_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,  
    "NA": 0,
}

gar_fin_dict = {
    "Fin": 3,
    "RFn": 2,   
    "Unf": 1,
    "NA": 0,
}

gar_qual_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
    "NA": 0,
}

gar_con_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
    "NA": 0,
}

pool_qc_dict = {
    "Ex": 5,
    "Gd": 4,
    "TA": 3,
    "Fa": 2,
    "Po": 1,
    "NA": 0,
}    
    
fence_dict = {
   "GdPrv": 4,
   "MnPrv": 3,
   "GdWo": 2,
   "MnWw": 1,
   "NA": 0,
}

housing.replace({   
        "ExterQual": exterqual_dict,
        "ExterCond": extercon_dict,
        "BsmtQual": bsmt_qual_dict,
        "BsmtCond": bsmt_con_dict,
        "BsmtExposure": bsmt_exp_dict,
        "BsmtFinType1": bsmtfin1_dict,
        "BsmtFinType2": bsmtfin2_dict,
        "HeatingQC": heat_qc_dict,
        "KitchenQual": kitch_qual_dict,
        "Functional": funct_dict,
        "FireplaceQu": fire_qual_dict,
        "GarageFinish": gar_fin_dict,
        "GarageQual": gar_qual_dict,
        "GarageCond": gar_con_dict,
        "PoolQC": pool_qc_dict,
        "Fence": fence_dict,
},inplace=True,)

In [17]:

#Landslope higher = more severe slope
slope_dict = {'Gtl':1,'Mod':2,'Sev':3}

#LotShape higher = more regular
shape_dict = {'Reg':4,'IR1':3,'IR2':2, 'IR3':1}

#Street higher = paved
street_dict = {'Pave':2,'Grvl':1}

#PavedDrive higher = more paved
drive_dict = {'Y':2,'P':1,'N':0}

#Alley higher = more paved
alley_dict = {'Pave':2,'Grvl':1,'No Alley':0}

#Alley higher = better utilities
util_dict = {'AllPub':4,'NoSewr':3,'NoSewa':2, 'ELO':1}


housing.replace(
    {  "LandSlope":slope_dict,
        "LotShape" : shape_dict,
        "Street": street_dict,
        "PavedDrive":drive_dict,
        "Alley":alley_dict,
        "Utilities":util_dict, 
    },
    inplace=True,
)

In [18]:
#check missing data
total_missing = housing.isnull().sum().sort_values(ascending=False)
percent = (housing.isnull().sum()/housing.isnull().count()).sort_values(ascending=False) * 100
missing_data = pd.concat([total_missing, percent], axis=1, keys=["Total", "Percent"])
missing_data.head(20)

              Total    Percent
LotFrontage     455  18.084261
GarageYrBlt     121   4.809221
MasVnrArea       14   0.556439
GarageCars        1   0.039746
Electrical        1   0.039746
GarageArea        1   0.039746
BsmtFullBath      1   0.039746
BsmtHalfBath      1   0.039746
KitchenQual       0   0.000000
FireplaceQu       0   0.000000
Fireplaces        0   0.000000
Functional        0   0.000000
TotRmsAbvGrd      0   0.000000
HalfBath          0   0.000000
KitchenAbvGr      0   0.000000
BedroomAbvGr      0   0.000000
FullBath          0   0.000000
LowQualFinSF      0   0.000000
2ndFlrSF          0   0.000000
1stFlrSF          0   0.000000

In [19]:
#Assume no basement baths
housing['BsmtFullBath'].fillna(0, inplace=True)
housing['BsmtHalfBath'].fillna(0, inplace=True)

In [20]:
housing[housing['GarageYrBlt'].isna()]

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
18,909101060,864,67000,30,RL,45.0,8248,2,1,4,...,0,0,0,0,No Misc,0,9,2008,WD,Normal
23,923228080,1092,98000,160,RM,21.0,1477,2,0,4,...,0,0,0,0,No Misc,0,3,2008,WD,Normal
45,535379110,1534,148000,70,RL,60.0,10800,2,1,4,...,0,0,0,0,No Misc,0,7,2007,WD,Normal
49,902106130,936,109500,30,RM,56.0,4485,2,1,4,...,0,0,0,3,No Misc,0,5,2010,WD,Normal
51,909176170,2592,150000,90,RL,60.0,10890,2,0,4,...,0,0,0,0,Shed,1512,1,2007,WD,AdjLand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,534450110,666,64500,20,RL,50.0,5000,2,0,4,...,0,0,0,3,No Misc,0,4,2007,WD,Normal
672,923204150,1824,139000,90,RL,94.0,9400,2,0,4,...,0,0,0,0,No Misc,0,4,2010,WD,Normal
697,904101070,3086,200500,50,RL,138.0,18030,2,0,3,...,0,0,0,3,No Misc,0,3,2007,WD,Normal
724,905101310,1768,136500,90,RL,72.0,10778,2,0,4,...,0,0,0,0,No Misc,0,4,2010,WD,Normal
730,902207010,866,110500,30,RM,40.0,3880,2,0,4,...,0,0,0,0,No Misc,0,8,2007,WD,Normal

In [21]:
#use yearbuilt to fill garage year NAs
housing['GarageYrBlt'].fillna(housing['YearBuilt'], inplace=True)

In [22]:
housing[housing['GarageCars'].isna()]

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
434,910201180,1828,150909,70,RM,50.0,9060,2,0,4,...,0,0,0,3,No Misc,0,3,2007,WD,Alloca

In [23]:
#fill garage NAs
housing.loc[housing.PID == 910201180, 'GarageCars'] = housing[housing.GarageType == "Detchd"]['GarageCars'].mode()[0]
housing.loc[housing.PID == 910201180, 'GarageArea'] = housing[housing.GarageType == "Detchd"]['GarageArea'].median()

In [24]:
housing['MasVnrArea'].fillna(0, inplace=True)

In [25]:
#fill missing Electrical using the mode
housing['Electrical'].fillna(housing['Electrical'].mode()[0], inplace=True)

In [26]:
#check missing data
total_missing = housing.isnull().sum().sort_values(ascending=False)
percent = (housing.isnull().sum()/housing.isnull().count()).sort_values(ascending=False) * 100
missing_data = pd.concat([total_missing, percent], axis=1, keys=["Total", "Percent"])
missing_data

               Total    Percent
LotFrontage      455  18.084261
PID                0   0.000000
HalfBath           0   0.000000
GarageType         0   0.000000
FireplaceQu        0   0.000000
...              ...        ...
Exterior2nd        0   0.000000
Exterior1st        0   0.000000
RoofMatl           0   0.000000
RoofStyle          0   0.000000
SaleCondition      0   0.000000

[81 rows x 2 columns]

In [27]:
#lot frontage: all sides that are on a street are part if frontage
#use neighborhood and median frontage to fill NAs
housing['LotFrontage'] = housing.groupby('Neighborhood')['LotFrontage'].transform(lambda x: x.fillna(x.median()))

In [28]:
housing.LotFrontage.value_counts()

60.0     258
70.0     203
80.0     186
72.0     122
50.0     105
        ...
313.0      1
111.0      1
137.0      1
195.0      1
138.0      1
Name: LotFrontage, Length: 128, dtype: int64

In [29]:
#check missing data
total_missing = housing.isnull().sum().sort_values(ascending=False)
percent = (housing.isnull().sum()/housing.isnull().count()).sort_values(ascending=False) * 100
missing_data = pd.concat([total_missing, percent], axis=1, keys=["Total", "Percent"])
missing_data

               Total   Percent
LotFrontage        3  0.119237
PID                0  0.000000
HalfBath           0  0.000000
GarageType         0  0.000000
FireplaceQu        0  0.000000
...              ...       ...
Exterior2nd        0  0.000000
Exterior1st        0  0.000000
RoofMatl           0  0.000000
RoofStyle          0  0.000000
SaleCondition      0  0.000000

[81 rows x 2 columns]

# feature engineering

In [30]:
housing.YrSold.value_counts()

2007    590
2009    575
2008    549
2006    496
2010    306
Name: YrSold, dtype: int64

In [31]:
housing.MoSold.value_counts()

6     453
7     395
5     359
4     245
3     204
8     190
10    140
9     125
2     116
11    112
1      95
12     82
Name: MoSold, dtype: int64

In [32]:
#change int to str
#treat MoSold and YrSold as categorical b/c small value counts
housing['YrSold'] = housing['YrSold'].astype(str)


month_dict ={1:'Jan', 2:'Feb', 3:'Mar',
             4:'Apr', 5:'May', 6:'Jun',
             7:'Jul', 8:'Aug', 9:'Sep',
             10:'Oct', 11:'Nov', 12:'Dec',
}

housing.replace({"MoSold":month_dict},
                inplace=True,)

In [33]:
housing['NumbrFlrs'] = housing['MSSubClass']
#add feature: num_floors
num_flrs_dict = {
    20: 1.0,
    30: 1.0,
    40: 1.0,
    45: 1.5,
    50: 1.5,
    60: 2.0,
    70: 2.0,
    75: 2.5,
    80: 2.0,
    85: 1.5,
    90: 2.0,
    120: 1.0,
    150: 1.5,
    160: 2.0,
    180: 2.0,
    190: 2.0,
}

housing.replace({"NumbrFlrs": num_flrs_dict},
                inplace=True)

In [34]:
housing.NumbrFlrs.value_counts()

1.0    1207
2.0     977
1.5     311
2.5      21
Name: NumbrFlrs, dtype: int64

In [35]:
housing['HouseAge'] = (2010 - housing.YearBuilt)

In [36]:
housing.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,NumbrFlrs,HouseAge
1,909176150,856,126000,30,RL,60.0,7890,2,0,4,...,0,0,No Misc,0,Mar,2010,WD,Normal,1.0,71
2,905476230,1049,139500,120,RL,42.0,4235,2,0,4,...,0,0,No Misc,0,Feb,2009,WD,Normal,1.0,26
3,911128020,1001,124900,30,C (all),60.0,6060,2,0,4,...,0,0,No Misc,0,Nov,2007,WD,Normal,1.0,80
4,535377150,1039,114000,70,RL,80.0,8146,2,0,4,...,0,0,No Misc,0,May,2009,WD,Normal,2.0,110
5,534177230,1665,227000,60,RL,70.0,8400,2,0,4,...,0,0,No Misc,0,Nov,2009,WD,Normal,2.0,9

In [37]:
#this data is not ordinal
ms_sub_dict = {
    20: "1-STORY 1946 & NEWER ALL STYLES",
    30: "1-STORY 1945 & OLDER",
    40: "1-STORY W/ FINISHED ATTIC ALL AGES",
    45: "1-1/2 STORY - UNFINISHED ALL AGES",
    50: "1-1/2 STORY FINISHED ALL AGES",
    60: "2-STORY 1946 & NEWER",
    70: "2-STORY 1945 & OLDER",
    75: "2-1/2 STORY ALL AGES",
    80: "SPLIT OR MULTI-LEVEL",
    85: "SPLIT FOYER",
    90: "DUPLEX ALL STYLES AND AGES",
    120: "1-STORY PUD 1946 & NEWER",
    150: "1-1/2 STORY PUD ALL AGES",
    160: "2-STORY PUD 1946 & NEWER",
    180: "PUD MULTILEVEL - INCL SPLIT LEV/FOYER",
    190: "2 FAMILY CONVERSION - ALL STYLES AND AGES",
}

#convert to full names
#Neighborhood
neighbor_dict = {
    "Blmngtn": "Bloomington Heights",
    "Blueste": "Bluestem",
    "BrDale": "Briardale",
    "BrkSide": "Brookside",
    "ClearCr": "Clear Creek",
    "CollgCr": "College Creek",
    "Crawfor": "Crawford",
    "Edwards": "Edwards",
    "Gilbert": "Gilbert",
    "IDOTRR": "Iowa DOT,Rail Road",
    "MeadowV": "Meadow Village",
    "Mitchel": "Mitchell",
    "NAmes": "North Ames",
    "NoRidge": "Northridge",
    "NPkVill": "Northpark Villa",
    "NridgHt": "Northridge Heights",
    "NWAmes": "Northwest Ames",
    "OldTown": "Old Town",
    "SWISU": "Southwest of ISU",
    "Sawyer": "Sawyer",
    "SawyerW": "Sawyer West",
    "Somerst": "Somerset",
    "StoneBr": "Stone Brook",
    "Timber": "Timberland",
    "Veenker": "Veenker"
}

#streamline categories
sale_type_dict = {
   "WD ": "Warranty Deed",
   "CWD": "Warranty Deed",
   "VWD": "Warranty Deed",
   "New": "New",
   "COD": "Court Officer Deed",
   "Con": "Contract",
   "ConLw": "Contract",
   "ConLI": "Contract",
   "ConLD": "Contract",
   "Oth": "Other",
}

housing.replace({   
        "MSSubClass": ms_sub_dict,
        "SaleType" : sale_type_dict,
        "Neighborhood": neighbor_dict
},inplace=True)

In [38]:
# IsRenovated
housing['Remodeled'] = housing.apply(lambda x: (x['YearRemodAdd'] > x['YearBuilt']), axis=1)
housing['Remodeled'] = housing['Remodeled'].replace({True: 1, False: 0})

In [39]:
#will compare with features to see what is a better fit
housing['LogPrice'] = np.log(housing.SalePrice)

In [40]:
#check missing data
total_missing = housing.isnull().sum().sort_values(ascending=False)
percent = (housing.isnull().sum()/housing.isnull().count()).sort_values(ascending=False) * 100
missing_data = pd.concat([total_missing, percent], axis=1, keys=["Total", "Percent"])
missing_data

              Total   Percent
LotFrontage       3  0.119237
PID               0  0.000000
KitchenQual       0  0.000000
GarageCars        0  0.000000
GarageFinish      0  0.000000
...             ...       ...
MasVnrType        0  0.000000
Exterior2nd       0  0.000000
Exterior1st       0  0.000000
RoofMatl          0  0.000000
LogPrice          0  0.000000

[85 rows x 2 columns]

In [41]:
housing.Neighborhood.value_counts()

North Ames             398
College Creek          233
Old Town               206
Edwards                160
Gilbert                142
Somerset               141
Sawyer                 135
Northwest Ames         120
Northridge Heights     120
Sawyer West            109
Mitchell               101
Brookside              100
Crawford                91
Iowa DOT,Rail Road      69
Northridge              66
Timberland              53
Stone Brook             43
Southwest of ISU        41
Clear Creek             38
Meadow Village          34
Briardale               27
Bloomington Heights     23
Veenker                 23
Northpark Villa         22
Bluestem                10
Greens                   8
GrnHill                  2
Landmrk                  1
Name: Neighborhood, dtype: int64

In [42]:
#remaining lot frontage NAs could not be filled using neighborhoods b/c they are the only values

In [43]:
#fill according to lot shape
housing['LotFrontage'] = housing.groupby('LotShape')['LotFrontage'].transform(lambda x: x.fillna(x.median()))
#check to make sure no more NAs
housing[housing['LotFrontage'].isna()]

Empty DataFrame
Columns: [PID, GrLivArea, SalePrice, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, NumbrFlrs, HouseAge, Remodeled, LogPrice]
Index: []

[0 rows x 85 columns]

In [45]:
#streamline features

In [46]:
#Bathrooms
housing['Combine_BathroomsBsmt'] = housing['BsmtFullBath'] + housing['BsmtHalfBath']*.5
housing['Combine_BathroomsAbvGrd'] = housing['FullBath'] + housing['HalfBath']*0.5
housing['AllBathrooms'] = housing['Combine_BathroomsBsmt'] + housing['Combine_BathroomsAbvGrd']

In [47]:
#combine finished bsmt variables
housing['TotalFinBsmtSF'] = housing.BsmtFinSF1 + housing.BsmtFinSF2

#combine GrLivArea and TotalFinBsmtSF
housing['TotalLivArea'] = housing.GrLivArea + housing.TotalFinBsmtSF

#combine all the outdoor SF features
housing['TotalOutdoorSF'] = housing.ScreenPorch + housing.WoodDeckSF + housing.OpenPorchSF + housing.EnclosedPorch + housing['3SsnPorch']

In [48]:
#will drop poolarea
housing['HasPool'] = (housing.PoolArea > 1).astype(int)

In [49]:
housing['GarageYrBlt'] = housing.GarageYrBlt.astype(int)
housing['GarageArea'] = housing.GarageArea.astype(int)
housing['GarageCars'] = housing.GarageCars.astype(int)
housing['LotFrontage'] = housing.LotFrontage.astype(int)
housing['MasVnrArea'] = housing.MasVnrArea.astype(int)
housing['BsmtUnfSF'] = housing.BsmtUnfSF.astype(int)
housing['NumbrFlrs'] = housing.NumbrFlrs.astype(int)
housing['TotalLivArea'] = housing.TotalLivArea.astype(int)

In [51]:
housing.drop(['BsmtFullBath','BsmtHalfBath','HalfBath',
              'FullBath','Combine_BathroomsBsmt','1stFlrSF',
              '2ndFlrSF','Combine_BathroomsAbvGrd','GrLivArea',
              'BsmtFinSF1','BsmtFinSF2','LowQualFinSF',
              'EnclosedPorch','OpenPorchSF','WoodDeckSF','3SsnPorch',
              'ScreenPorch','PoolArea','TotalFinBsmtSF','TotalBsmtSF'], inplace=True, axis=1)

In [52]:
housing.head()

,PID,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,SaleType,SaleCondition,NumbrFlrs,HouseAge,Remodeled,LogPrice,AllBathrooms,TotalLivArea,TotalOutdoorSF,HasPool
1,909176150,126000,1-STORY 1945 & OLDER,RL,60,7890,2,0,4,Lvl,...,Warranty Deed,Normal,1,71,1,11.744037,2.0,1094,166,0
2,905476230,139500,1-STORY PUD 1946 & NEWER,RL,42,4235,2,0,4,Lvl,...,Warranty Deed,Normal,1,26,0,11.845820,3.0,1994,105,0
3,911128020,124900,1-STORY 1945 & OLDER,C (all),60,6060,2,0,4,Lvl,...,Warranty Deed,Normal,1,80,1,11.735269,1.0,1738,282,0
4,535377150,114000,2-STORY 1945 & OLDER,RL,80,8146,2,0,4,Lvl,...,Warranty Deed,Normal,2,110,1,11.643954,1.0,1039,279,0
5,534177230,227000,2-STORY 1946 & NEWER,RL,70,8400,2,0,4,Lvl,...,Warranty Deed,Normal,2,9,0,12.332705,3.5,2308,45,0

In [53]:
housing.to_csv("ames_house_cleaned.csv")